<!DOCTYPE html>
<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <style>
            body {
                background-color: chartreuse;
            }
            h1 {
                text-align: center;
                color: blue;
            }
        </style>
        <h1>
            Name: <%= body.name %>
        </h1>
        <h1>
            Surname: <%= body.surname %>
        </h1>
        <h1>
            Age: <%= body.age %>
        </h1>
        
    </body>
</html>
